@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 20px auto;
  min-height: 100vh;
  display: flex;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.texteditor {
  width: 50%;
  position: relative;
  padding-top: 30px;
  border: 1px solid black;
}

.texteditor:before {
  content: 'Editor';
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 15px;
  font-family: 'PT Mono', monospace;
  border-bottom: 1px solid black;
  background-color: #48dbfb;
  box-shadow: 0 5px 10px #48dbfbaa;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  resize: none;
}

.preview {
  width: 50%;
  height: 100%;
  padding: 40px 10px 10px;
  border: 1px solid black;
  border-left: none;
  position: relative;
}

.preview:before {
  content: 'Preview';
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 15px;
  font-family: 'PT Mono', monospace;
  border-bottom: 1px solid black;
  background-color: #48dbfb;
  box-shadow: 0 5px 10px #48dbfbaa;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  body {
    padding: 10px;
  }

  .container {
    margin: 0;
    flex-direction: column;
    box-shadow: none;
  }

  .texteditor {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  }

  .preview {
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  }
}
